.background-home {
    background: #8daaa6;
}

.spacer-header {
    margin-top: 5rem;
    margin-bottom: 4rem;


}

.card-style {
    background-color: #b2d0cc !important; 
    /* #6b8eae */
    /* #A4B5B3 */
    /* 6b8eae */
    /* d8d8d8 */
}


